<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="src/css/styles.css">
    <title>Decorator Pattern</title>
</head>
<body>

<div id="app">
    <section class="calculator">

        <button class="calculator-button calculator-change-view" @click="toggleView()">{{ view }}</button>
        <h1 class="calculator-result">{{ computedResult }}</h1>

        <div class="calculator-user-input">
            <span v-if="operator" class="calculator-selected-operation">
                <span>{{ firstNum }}</span>
                <span>{{ operator.symbol }}</span>
                <span v-if="result">{{ secondNum }}</span>
            </span>
            <span>{{ currentNum }}</span>
        </div>

        <div class="calculator-actions">
            <span class="calculator-action" @click="operator = calculation" v-for="calculation in calculations">{{ calculation.symbol }}</span>
            <span class="calculator-action" @click="reset()">C</span>
            <div  class="calculator-action delete" @click="currentNumArray.pop()"><-</div>
        </div>

        <div class="calculator-numpad">
            <ul class="calculator-numpad-list">
                <li class="calculator-numpad-button" @click="onNumberClick(number)" v-for="number in numbersArray">{{ number }}</li>
                <li class="calculator-numpad-button" @click="getResult()">=</li>
            </ul>
        </div>

    </section>
</div>
<!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!--https://tc39.github.io/ecma262/#sec-array.prototype.find-->
<script src="src/js/array.find.polyfill.js"></script>
<script src="src/js/calculator.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            numbersArray: [1, 2, 3, 4, 5, 6, 7, 8, 9, 0],
            currentNumArray: [],
            firstNumArray: [],
            secondNumArray: [],
            calculations: [],
            result: null,
            view: 'simple',
            operator: null
        },

        computed: {
            currentNum: function() {
                return parseFloat(this.currentNumArray.join('')) || 0;
            },
            firstNum: function() {
                return parseFloat(this.firstNumArray.join('')) || null;
            },
            secondNum: function() {
                return parseFloat(this.secondNumArray.join('')) || null;
            },
            computedResult: function() {
                return this.result || 0;
            }
        },

        created: function() {
            this.calculator = new calculator()
        },

        mounted: function() {
            this.calculations = this.calculator.calculationsAvailable;
            this.currentNumArray = this.firstNumArray;
        },

        methods: {
            changeToAdvanced: function() {
                this.calculator = new advancedCalculator(new calculator());
                this.calculations = this.calculator.calculationsAvailable;
                this.view = 'advanced';
            },

            changeToSimple: function() {
                this.calculator = new calculator();
                this.calculations = this.calculator.calculationsAvailable;
                this.view = 'simple';
            },

            toggleView: function() {
                this.reset();
                this.view === 'simple' ? this.changeToAdvanced() : this.changeToSimple();
            },

            reset: function() {
                this.currentNumArray = [];
                this.firstNumArray = [];
                this.secondNumArray = [];
                this.operator = null;
                this.result = null;
                this.currentNumArray = this.firstNumArray;
            },

            onNumberClick: function(number) {
                if (this.result !== null) {
                    this.reset();
                }
                if (this.operator === null) {
                    this.firstNumArray.push(number)
                } else {
                    this.secondNumArray.push(number);
                    this.currentNumArray = this.secondNumArray;
                }
            },

            getResult: function() {
                this.result = this.calculator.calculate(this.operator, this.firstNum, this.secondNum);
            }
        }
    });
</script>

</body>
</html>