body {
    font-family: Arial, sans-serif;
}

.calculator {
    max-width: 600px;
    margin: auto;
    border: 1px solid #ddd;
}

.calculator-user-input {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: right;
    position: relative;
}

.calculator-result {
    text-align: right;
    padding: 0 15px;
}
.calculator-selected-operation {
    float: left;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
}

.calculator-button,
.calculator-action {
    width: 40px;
    padding: 15px;
    border: 1px solid #ddd;
    margin: 2px 5px 0 0;
    display: inline-block;
    cursor: pointer;
}

.calculator-change-view {
    width: auto;
}
.calculator-numpad-list {
    display: block;
    text-align: center;
    padding: 0;
}
.calculator-numpad-button {
    width: 25%;
    padding: 15px 0;
    margin: 5px;
    display: inline-block;
    list-style: none;
    cursor: pointer;
    border: 1px solid #ddd;
}

.calculator-button:hover,
.calculator-action:hover,
.calculator-numpad-button:hover {
    background: #ddd;
}

